@using System.Security.Claims
@model IEnumerable<Vroem.MODELS.User>
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Welkom bij</h1>
        <img src="images/Vroem.png"/>
        @{
            if (User.Identity.IsAuthenticated)
            {
                var naam = User.FindFirst(ClaimTypes.GivenName).Value;
                var achternaam = User.FindFirst(ClaimTypes.Surname).Value;
                var email = User.FindFirst(ClaimTypes.Email).Value;
                <p>Hoi @naam @achternaam</p>
                <p>Wat leuk om je weer te zien</p>
                
            }
        }



    </div>
